/* slides css style */

/*-- scss:defaults --*/

/* colours, fonts, size ---------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$primary: #95b540;
$secondary: #E9F2D1;
$link-color: #96b43f;
$body-color: #1c2833;
$code-color: #3b4819;
$code-block-bg: WhiteSmoke;
$font-family-sans-serif: 'Nunito', 'Source Sans Pro', 'Helvetica', 'sans-serif' ;
$font-family-monospace: 'Fira Mono','Ubuntu Mono', 'Lucida Console', 'Courier', 'monospace';
$code-block-border-color: none;
$code-bg: $code-block-bg; /* inline code */

/* presentation */
$presentation-font-size-root: 27px;
$presentation-line-height: 1.3;
$presentation-h1-font-size: 1.802em;
$presentation-h2-font-size: 1.602em;
$presentation-h3-font-size: 1.424em;
$presentation-h4-font-size: 1.266em;
$presentation-h5-font-size: 1.125em;
$presentation-h6-font-size: 1em;


.green {
    color: $primary;
    font-weight: bold;
}

.reveal ul.task-list{list-style: none;}
.reveal ul.task-list li input[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin: 0 1em 0.5em -1.6em;
    vertical-align: middle;
}
.reveal ul.task-list li input[type="checkbox"][disabled] {
    outline:1px solid lightgrey;
}
.reveal ul.task-list li input[type="checkbox"][disabled][checked] {
    outline:2px solid green;
}

/* title slide */

#title-slide .title {
  font-size: $presentation-h1-font-size;
  margin: 0;
}

#title-slide .subtitle {
  font-size: $presentation-h2-font-size;
  margin: 0;
  margin-bottom: 1rem !important;
}

#title-slide .quarto-title-authors {
  font-size: $presentation-h3-font-size;
  display: block;
  margin: 0;
  padding-left: 0;
}

#title-slide .quarto-title-author {
  padding-left: 0;
}

#title-slide .institute, #title-slide .author {
  font-size: $presentation-h4-font-size;
  margin: 0;
}

#title-slide .date {
  font-size: $presentation-h5-font-size;
  margin: 0;
}

.reveal .slide-background-content {
  background-position: right;
}

#title-slide .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

#title-slide .title-parent {
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2em;
  /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
}

#title-slide .title-one {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "text";
}

#title-slide .title-two {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "text hero";
}

#title-slide .title-child-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
  text-align: left;
}

#title-slide .title-child-hero {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero;
}